In [4]:
import pandas as pd

In [5]:
input_file = "Data/glassdoor.csv"
output_file = "Data/glassdoor_filtered.csv"

In [6]:
def clean_overly_large_columns(df):
    # contain the names of the too big columns
    way_too_much_data = []
    # save the 
    prev_count = len(df.columns)
    # iterat thru all the columns
    for column in df.columns:
        if (df[column].dtype == object):
            try:
                max_string_length = float(max(df[column].str.split().str.len()))
                if (max_string_length > 500):
                    way_too_much_data.append(column)
            except:
                print(f"\t{column} was not string")

    print(f"prev columns were {prev_count}, now they are {prev_count - len(way_too_much_data)}")
    # return the df
    return df.drop(way_too_much_data, axis=1)

In [7]:
# read the csv
glassdoor_df = pd.read_csv(input_file)

In [8]:
# clean the csv
glassdoor_df = clean_overly_large_columns(glassdoor_df)

	gaTrackerData.jobViewTrackingResult.requiresTracking was not string
	header.needsCommission was not string
	salary.country.continent.new was not string
	salary.country.currency.new was not string
	salary.country.employerSolutionsCountry was not string
	salary.country.major was not string
	salary.country.new was not string
	salary.currency.new was not string
prev columns were 163, now they are 161

In [9]:
keep_columns = [
    'gaTrackerData.empId',
    'gaTrackerData.empName',
    'gaTrackerData.empSize',
    'gaTrackerData.industry',
    'gaTrackerData.industryId',
    'gaTrackerData.jobId.long',
    'gaTrackerData.jobId.int',
    'gaTrackerData.jobTitle',
    'gaTrackerData.location',
    'gaTrackerData.locationId',
    'gaTrackerData.sector',
    'gaTrackerData.sectorId',
    'map.location',
    'rating.starRating',
    'salary.country.cc3LetterISO',
    'salary.country.ccISO',
    'salary.country.continent.continentCode',
    'salary.country.continent.continentName',
    'salary.country.continent.id',
    'salary.country.continent.new',
    'salary.country.countryFIPS',
    'salary.country.currency.currencyCode',
    'salary.country.currency.defaultFractionDigits',
    'salary.country.currency.displayName',
    'salary.country.currency.id',
    'salary.country.currency.name',
    'salary.country.currency.negativeTemplate',
    'salary.country.currency.new',
    'salary.country.currency.positiveTemplate',
    'salary.country.currency.symbol',
    'salary.country.currencyCode',
    'salary.country.defaultLocale',
    'salary.country.defaultName',
    'salary.country.defaultShortName',
    'salary.country.employerSolutionsCountry',
    'salary.country.id',
    'salary.country.longName',
    'salary.country.major',
    'salary.country.name',
    'salary.country.new',
    'salary.country.population',
    'salary.country.shortName',
    'salary.country.tld',
    'salary.country.type',
    'salary.country.uniqueName',
    'salary.country.usaCentricDisplayName',
    'salary.currency.currencyCode',
    'salary.currency.defaultFractionDigits',
    'salary.currency.displayName',
    'salary.currency.id',
    'salary.currency.name',
    'salary.currency.negativeTemplate',
    'salary.currency.new',
    'salary.currency.positiveTemplate',
    'salary.currency.symbol',
    'salary.lastSalaryDate',
    'salary.salaries'
]
drop_columns =  list(glassdoor_df.columns)
for keep in keep_columns:
    if (keep in drop_columns):
        drop_columns.remove(keep)
    
print(f"was {len(list(glassdoor_df.columns))}, keep {len(keep_columns)}, remove {len(drop_columns)}")

was 161, keep 57, remove 104

In [10]:
glassdoor_df = glassdoor_df.drop(drop_columns, axis=1)
glassdoor_df

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,...,salary.currency.defaultFractionDigits,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries
0,2183810,Modus Group,501-1000,Investment Banking & Asset Management,200053,3.227100e+09,NaN,Biogas Project Development Manager,Warsaw,3094484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2483.0
1,10416,Boehringer Ingelheim,10000--1,Biotech & Pharmaceuticals,200021,3.406582e+09,NaN,Quality Manager - Boehringer Ingelheim Healthc...,NaN,3183562,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-14T06:05:58,2484.0
2,1043373,Immobiliare.it,201-500,NaN,0,3.230738e+09,NaN,"Senior Software Engineer (PHP, Elixir, Python)",Milano,2802090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2485.0
3,2226886,Codup,1-50,NaN,0,3.406677e+09,NaN,Senior SQA Engineer,Karachi,3212296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2486.0
4,851555,Markelytics Solutions,201-500,Consulting,200028,3.201516e+09,NaN,Research Manager,Bengaluru,2940587,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2487.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165285,414579,Valiram Group,1001-5000,"Department, Clothing, & Shoe Stores",200105,2.939045e+09,NaN,East – Assistant Store Manager (All Brands),NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52075.0
165286,1519,Intel Corporation,10000--1,Computer Hardware & Software,200060,3.301658e+09,NaN,Data Center Partner Marketing Manager (Japan),Tokyo,2851580,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-10-30T06:24:28,52076.0
165287,1065492,Mc Three,-1-0,NaN,0,3.386398e+09,NaN,Junior Production Manager m/v,Waregem,2344926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52077.0
165288,595052,Hanzehogeschool Groningen,1001-5000,Colleges & Universities,200044,3.402587e+09,NaN,Opleidingsmanager Industrieel Product Ontwerpen,Groningen,3063595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52078.0
165289,2962564,Tembusu Industries,-1-0,NaN,0,3.301947e+09,NaN,BIO MASS SCIENTIST / RESEARCHERS,NaN,3235921,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52079.0

In [14]:
glassdoor_df = glassdoor_df.sort_values("salary.salaries")

In [15]:
glassdoor_df = glassdoor_df[glassdoor_df["salary.salaries"].notna()]
glassdoor_df

,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobId.long,gaTrackerData.jobId.int,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,...,salary.currency.defaultFractionDigits,salary.currency.displayName,salary.currency.id,salary.currency.name,salary.currency.negativeTemplate,salary.currency.new,salary.currency.positiveTemplate,salary.currency.symbol,salary.lastSalaryDate,salary.salaries
157290,1382539,Xfers,1-50,Financial Transaction Processing,200052,3.281584e+09,NaN,"Software Engineer, Full Stack - HCM Vietnam",NaN,2748023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
157291,7448,Altran Group,10000--1,IT Services,200064,3.357106e+09,NaN,Android Automotive Engineer (W/M),NaN,2457577,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-09-30T12:23:30,2.0
157292,1727201,Moneybox,1-50,NaN,0,3.386690e+09,NaN,Product Manager,London,2671300,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-11-02T07:01:49,3.0
157293,354093,Demant,10000--1,Health Care Services & Hospitals,200059,3.401994e+09,NaN,Business Analyst,NaN,3008741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
157294,642590,OutSystems,1001-5000,Computer Hardware & Software,200060,3.036655e+09,NaN,Software Engineer Team Leader - Braga,Braga,3227540,...,2.0,United Kingdom Pound (GBP),2.0,United Kingdom Pound,$(#),False,$#,&pound;,2019-09-24T12:04:04,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138884,1013251,Canva,201-500,Computer Hardware & Software,200060,3.258735e+09,NaN,Senior Product Marketing Manager,NaN,2235932,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147145.0
138886,722741,Mitra Integrasi Informatika,501-1000,Accounting,200001,3.327617e+09,NaN,Functional Consultant,Jakarta,2709872,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147146.0
138887,931298,Haufe Group,1001-5000,Enterprise Software & Network Solutions,200061,3.412664e+09,NaN,Technical Product Owner (m/w/d),Freiburg,2566280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147147.0
138888,3082694,Profile Middle East,-1-0,NaN,0,3.238053e+09,NaN,Warehouse/Material Engineer,Sharjah,2203109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147148.0
138889,231682,Northern NSW Local Health District,5001-10000,Health Care Services & Hospitals,200059,3.395580e+09,NaN,Medical Laboratory Assistant - Pathology Colle...,NaN,2240788,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,147149.0

In [16]:
# save the csv
glassdoor_df.to_csv(output_file, index=False)